<div class="body">
    <img src="assets/Resource/img/logo.png" alt="logo" class="images">
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{{ path('/') }}" class="nav-link">Acceuil</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('userlist') }}" class="nav-link">Liste des utilisateurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">FAQ</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact') }}" class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
    <form action="{{ path('change_language') }}" method="post">
      <input type="hidden" name="redirect" value="{{ app.request.uri }}" />
      <select name="language" onchange="this.form.submit()">
          <option value="en" {% if session.locale == 'en' %}selected{% endif %}>English</option>
          <option value="fr" {% if session.locale == 'fr' %}selected{% endif %}>Français</option>
      </select>
    </form>
    <a href="{% if is_logged_in %}{{ path('') }}{% else %}{{ path('login') }}{% endif %}">
        <img src="assets/Resource/img/UserButton.png" alt="logo" class="images">
    </a>
</div>

<link rel="stylesheet" href="assets/Resource/css/Navbar/style.css">

<script type="module" src="assets/Resource/js/Navbar/script.js"></script>
