<div class="body">
    <img src="assets/Resource/img/logo.png" alt="logo" class="images">
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{{ path('/') }}" class="nav-link">{{ "event_it.navBar.home" | trans }}</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('userlist') }}" class="nav-link">{{ "event_it.navBar.userList" | trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">{{ "event_it.navBar.faq" | trans }}</a>
            </li>
            <li class="nav-item">
                <a href="{{ path('contact') }}" class="nav-link">{{ "event_it.navBar.contact" | trans }}</a>
            </li>
        </ul>
    </nav>
    <form class="right" action="{{ path('change_language') }}" method="post">
      <input type="hidden" name="redirect" value="{{ app.request.uri }}" />
      <div class="languageSelect-container">
        <select class="languageSelect" name="language" onchange="this.form.submit()">
            <option class="optionLang" value="en" {% if session.locale == 'en' %}selected{% endif %}>English</option>
            <option class="optionLang" value="fr" {% if session.locale == 'fr' %}selected{% endif %}>Français</option>
        </select>
      </div>
      <a href="{% if is_logged_in %}{{ path('') }}{% else %}{{ path('login') }}{% endif %}">
          <img src="assets/Resource/img/UserButton.png" alt="logo" class="images">
      </a>
    </form>
</div>

<link rel="stylesheet" href="assets/Resource/css/Navbar/style.css">

<script type="module" src="assets/Resource/js/Navbar/script.js"></script>
