{% extends'public/base.html.twig' %}

{% block title %}
 Register Page
{% endblock %}
{% block body %}
<div class="container">
    <div class="register-container">
        <div class="register-form">
            <form action="{{ path('register') }}" method="post">
                <div class="form-group
                ">
                    <label for="username">First name</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" required >
                    <label for="username">Last name</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" required >
                </div>
                <div class="form-group
                ">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{ form.email.vars.value }} " required>

                </div>
                <div class="form-group
                ">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control" value="{{ form.password.vars.value }}" required>

                </div>
                <div class="form-group
                ">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" value="{{ form.confirmPassword.vars.value }}" required>

                </div>
              <div>
                <label for="CGU"><a href="https://www.francenum.gouv.fr/guides-et-conseils/developpement-commercial/site-web/rediger-des-conditions-generales-dutilisation#autres-mentions-obligatoires">I accept<br> the terms and Conditions</a></label>
                  <input type="checkbox" id="CGU" name="CGU" required>
              </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
    <div class="logo">
        <h1 class="logo-text">EVENT IT</h1>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="assets/Resource/css/Register/style.css">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="module" src="assets/Resource/js/Register/script.js"></script>
{% endblock %}
