{% extends 'public/base.html.twig' %}

{% block title %}
User Profile
{% endblock %}

{% block body %}
<section class="s-body">
  <form id="profile-form" method="POST" action="">
    <div class="form-group">
      <label for="email">{{ "event_it.userProfile.email" | trans }}</label>
      <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
    </div>
    <div class="form-group">
      <label for="first_name">{{ "event_it.userProfile.firstName" | trans }}</label>
      <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.firstName }}">
    </div>
    <div class="form-group">
      <label for="last_name">{{ "event_it.userProfile.lastName" | trans }}</label>
      <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.lastName }}">
    </div>
    <div class="form-group">
      <label for="password">{{ "event_it.userProfile.password" | trans }}</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
      <label for="confirm_password">{{ "event_it.userProfile.confirmPassword" | trans }}</label>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password">
    </div>
    <button type="submit" class="btn btn-primary" name="update_profile" id="update_profile">{{ "event_it.userProfile.updateProfile" | trans }}</button>
    <button type="button" class="btn btn-primary" id="logout-button">{{ "event_it.userProfile.loggout" | trans }}</button>
  </form>
</section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="assets/Resource/js/UserProfile/script.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var logoutButton = document.getElementById('logout-button');
      var form = document.getElementById('profile-form');
      logoutButton.addEventListener('click', function() {
        console.log('Logout button clicked');  // Debugging line
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'logout';
        input.value = '1';
        form.appendChild(input);
        console.log('Submitting form');  // Debugging line
        form.submit();
    });
  });
  </script>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="assets/Resource/css/userProfile/style.css">
{% endblock %}
