{% extends'public/base.html.twig' %}

{% block title %}
User List
{% endblock %}
{% block body %}
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">User List</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Creation Date</th>
                {% if user.role == ADMIN %}
                  <th>Organization</th>
                {% endif %}
                {% if user.role == ADMIN %}
                  <th>Role</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
                <tr class="alert" role="alert">
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.creationDate|date('Y-m-d H:i:s') }}</td>
                  {% if user.role == ADMIN %}
                    <td>
                      <select class="form-control" id="orgDropdown">
                        <option>Select Organization</option>
                        <hr />
                      {% for org in organizations %}
                        <option>{{ org.name }}</option>
                      {% endfor %}
                      </select>
                    </td>
                  {% endif %}
                  {% if user.role == ADMIN %}
                    <td>
                      <select class="form-control" id="orgDropdown">
                        <option>Select Organization</option>
                        <hr />
                        <option>ADMIN</option>
                        <option>USER</option>
                        <option>SUPER_ADMIN</option>
                      </select>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/Resource/css/UserList/style.css">
{% endblock %}
