{% extends '/public/base.html.twig' %}

{% block body %}
<div class="container">
    <h1>{{ "event_it.contact.title" | trans }}</h1>
    <div class="line"></div>
    <p>{{ "event_it.contact.instructions" | trans }}</p>
    <button class="button" id="formButton">{{ "event_it.contact.form" | trans }}</button>
</div>
<div id="container2">
    <form id="contactForm" action="/contact" method="post" enctype="multipart/form-data">
        <div class="input-group">
            <input type="text" id="firstName" name="firstName" required placeholder="{{ "event_it.contact.firstName" | trans }}">
            <input type="text" id="lastName" name="lastName" required placeholder="{{ "event_it.contact.lastName" | trans }}">
        </div>
        <input type="email" id="email" name="email" required placeholder="{{ "event_it.contact.email" | trans }}">
        <input type="text" id="subject" name="subject" placeholder="{{ "event_it.contact.subject" | trans }}">
        <textarea id="comment" name="comment" placeholder="{{ "event_it.contact.commentary" | trans }}"></textarea>
        <input type="tel" id="phone" name="phone" placeholder="{{ "event_it.contact.phone" | trans }}">

        <div class="checkbox">
            <input type="checkbox" id="contactByPhone" name="contactByPhone">
            <label for="contactByPhone">{{ "event_it.contact.phoneContact" | trans }}</label>
        </div>

        <button type="submit" class="button" id="submitButton">{{ "event_it.contact.send" | trans }}</button>
    </form>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/Resource/css/Contact/style.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="module" src="assets/Resource/js/Contact/script.js"></script>
{% endblock %}




