{% extends '/public/base.html.twig' %}

{% block navbar %}
{% endblock %}

{% block title %}
  Login Page
{% endblock %}

{% block body %}
  <div class="container">
    <div class="login-container">
      <div class="login-form">
        <form id="form" action="{{ path('login') }}" method="post">
          <div class="form-group">
            {% if error %}
              <h2 class="error">{{ error }}</h2>
            {% endif %}
            <h2 class="header2">{{ "event_it.login.title" | trans }}</h2>
            <label for="username">{{ "event_it.login.email" | trans }}</label>
            <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required>
          </div>
          <div class="form-group">
            <label for="password">{{ "event_it.login.password" | trans }}</label>
            <input type="password" id="password" name="_password" class="form-control" required>
          </div>
          <a href="{{ path('register') }}" class="register">{{ "event_it.login.register" | trans }}</a>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">{{ "event_it.login.login" | trans }}</button>
          </div>
        </form>
      </div>
    </div>
    <div class="logo">
      <h1>EVENT IT</h1>
    </div>
  </div>

{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="assets/Resource/css/Login/style.css">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="module" src="assets/Resource/js/Login/script.js"></script>
{% endblock %}
