{% extends '/public/base.html.twig' %}

{% block title %}
  Login Page
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Login</h1>
        <form action="{{ path('login') }}" method="post">
          <div class="form-group
          {% if error %} has-danger {% endif %}">
            <label for="username">Username</label>
            <input type="text" id="username" name="_username" class="form-control
            {% if error %} is-invalid {% endif %}" value="{{ last_username }}" required>
            <div class="invalid-feedback">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="_password" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="assets/Resource/css/Login/style.css">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="module" src="assets/Resource/js/Login/script.js"></script>
{% endblock %}
