{% extends 'public/base.html.twig' %}

{% block title %}
  {{ 'event_it.home.title' | trans }}
{% endblock %}

{% block body %}
<div class="acceuil">
    <div class="bienvenue">
        <p>{{ 'event_it.home.welcome' | trans }}</p>
    </div>
    <div>
        <p class="nomEventIt">Event IT</p>
    </div>
    <div class="boutonPlus">
        <button class="boutonPlusHome" onclick="scrollToSection('targetSection')">{{ 'event_it.home.more' | trans }}</button>
    </div>
</div>

<div class="englobeCarrousel">
    <hr noshade style="width: 1216px; height: 4px; left: 109.5px; top: 844.8px; margin-top: 6%; background: #FFFFFF1A;">
    <div id="targetSection" class="pourquoiNous">
        <p>{{ 'event_it.home.whyUs' | trans }}</p>
    </div>

    <div class="carousel">
        <div class="slides">
          <div class="slide"><img src="assets/Resource/img/img1.jpg" alt=""></div>
          <div class="slide"><img src="assets/Resource/img/img2.jpg" alt=""></div>
          <div class="slide"><img src="assets/Resource/img/img3.jpg" alt=""></div>
        </div>
        <button class="prev">&#10094;</button>
        <button class="next">&#10095;</button>
    </div>
    <div class="description">
        <div class="sous_description">
            <div class="img_text_desc">
                <p>{{ "event_it.home.sonoreExp" | trans }}<br>{{ "event_it.home.redifine" | trans }}</p>
                <img class="img_des" src="assets/Resource/img/img1.jpg" alt="">
            </div>
            <p class="text_pricipale_de_description">{{ "event_it.home.description1" | trans }}</p>
        </div>
        <div class="sous_description">
            <p class="text_pricipale_de_description">{{ "event_it.home.description2" | trans }}</p>
            <div class="img_text_desc">
                <p>{{ "event_it.home.instantConnection" | trans }}</p>
                <img class="img_des" src="assets/Resource/img/img3.jpg" alt="">
            </div>
        </div>
    </div>
    <hr noshade style="width: 1216px; height: 4px; left: 109.5px; top: 844.8px; margin-top: 6%; background: #FFFFFF1A;">

    <div class="faq">
        <p class="pourquoiNous">FAQ</p>
        <div class="accordion">
            <div class="accordion-container">
                <div class="questionsFaq">
                    <div class="accordion-header" aria-expanded="false">
                        <i class="fa fa-angle-right"></i> {{ "event_it.faq.question1" | trans }}
                    </div>
                    <div class="accordion-content">{{ "event_it.faq.answer1" | trans }}</div>
                </div>
                <div class="questionsFaq">
                    <div class="accordion-header" aria-expanded="false">
                        <i class="fa fa-angle-right"></i> {{ "event_it.faq.question2" | trans }}
                    </div>
                    <div class="accordion-content">{{ "event_it.faq.answer2" | trans }}</div>
                </div>
                <div class="questionsFaq">
                    <div class="accordion-header" aria-expanded="false">
                        <i class="fa fa-angle-right"></i> {{ "event_it.faq.question3" | trans }}
                    </div>
                    <div class="accordion-content">{{ "event_it.faq.answer3" | trans }}</div>
                </div>
            </div>

            <div class="accordion-container">
                <div class="questionsFaq">
                    <div class="accordion-header" aria-expanded="false">
                        <i class="fa fa-angle-right"></i> {{ "event_it.faq.question4" | trans }}
                    </div>
                    <div class="accordion-content">{{ "event_it.faq.answer4" | trans }}</div>
                </div>
                <div class="questionsFaq">
                    <div class="accordion-header" aria-expanded="false">
                        <i class="fa fa-angle-right"></i> {{ "event_it.faq.question5" | trans }}
                    </div>
                    <div class="accordion-content">{{ "event_it.faq.answer5" | trans }}</div>
                </div>
                <div class="questionsFaq">
                    <div class="accordion-header" aria-expanded="false">
                        <i class="fa fa-angle-right"></i> {{ "event_it.faq.question6" | trans }}
                    </div>
                    <div class="accordion-content">{{ "event_it.faq.answer6" | trans }}</div>
                </div>
            </div>
        </div>
        <div class="buttonFaqDiv">
            <button id="RedirectToFaq" class="boutonPlus">{{ "event_it.faq.moreQuestions" | trans }}</button>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="assets/Resource/css/Home/style.css">
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="module" src="assets/Resource/js/Home/script.js"></script>
{% endblock %}
